@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v126/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.drag-controller{
    display:inline-block;
    width:16px;
    height:16px;
    position: relative;
    top: 2px;
    margin-left: -18px;
    font-size: 20px;
}
